

@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+Expanded:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #dd8937;
    --secondary-color: #bed2d5;
    --tertiary-color: white;
    --font: "Encode Sans Expanded", sans-serif;
}

body {
    padding: 0 10%;
    max-width: 100%;
}

h1 {
    font-family: var(--font);
    font-size: 2.4rem;
    text-transform: uppercase;
    font-weight: 800;
}

h2 {
    font-family: var(--font);
    font-size: 1.2rem;
    text-transform: uppercase;
    font-weight: 800;
    padding-bottom: 0.6rem;
}

h3 {
    font-family: var(--font);
    font-size: 1.3rem;
    text-transform: uppercase;
    font-weight: 800; 
}

h4 {
    font-family: var(--font);
    font-size: 0.8rem;
    text-transform: uppercase;
    font-weight: 800;  
}


p {
    font-family: var(--font);
    font-size: 0.8rem;
    font-weight: 300; 
}

main {
    display: flex;
    width: 100%;
}

img {
    border-radius: 20px;
}


/* header */

.logo {
    width: 150px;
    height: auto;
}

.header {
    background-color: var(--tertiary-color);
    display: flex;
    justify-content: space-between; 
    align-items: center;
    padding: 10px;
    font-size: 1.7vh;
    font-weight: 700;
    font-family: var(--font);
    height: 10vh;
}

.nav {
    display: flex;
    width: 100%;
    justify-content: center;
    text-transform: uppercase;
    padding: 0 2rem;
}

.navbar {
    display: flex;
    width: 100%;
    justify-content: space-between;
    z-index: 1000;
}
  
.navbar li {
    display: block;
    position: relative;
    float: left;
}

.navbar ul {
    position: relative;
    padding: 0;
    left: 0;
    display: none;
} 

.navbar li a {
    display: block;
    padding: 0;
    text-decoration: none;
    line-height: 35px;
    color: black;
    white-space: nowrap;
}

.navbar li ul {
    position: absolute;
}
  
.navbar li a:hover {
    color:#dd8937;
}
  
.navbar li:hover ul ul {
    display: none;
}
  
.navbar li:hover ul {
    display: block;
}

.submenu {
    font-size: 1.5vh;
    font-weight: 500;
    font-family: var(--font);
    background-color: white;
}

.søg{
    display: block;
    height: auto;
    color: rgb(0, 0, 0);
    border-radius: 1rem;
    text-align: left;
    padding-left: 1rem;
    font-size: 1rem;
    display: flex;
    align-items: center;
    font-family: var(--font);
    border: 0;
    outline: 0;
}

input.søg {
    display: block;
    padding: 1rem;
    padding-left: 3rem;
    background: rgb(227, 227, 227) url("/img/Searchsort.svg") no-repeat -2rem;
    background-origin: content-box;
}

/* body */

.sides {
    width:25%;
    border: 1px solid red;
}

.halv {
    max-height: 44vh;
    min-height: 44vh;
    border: 1px solid blue;
    margin-bottom: 2vh;
    overflow: hidden;
}


.h3 {
    position: absolute;
    background-color: white;
    padding: 15px;
    border-radius: 0.5rem;
    margin-bottom: 15px;
    width: 90%;
}

.image-container {
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 34vh;
}
    
.image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.middle {
    width: 50%;
    margin: 0 1rem;
    border: 1px solid red;
}

.stor {
    max-height: 44vh;
    min-height: 44vh;
    border: 1px solid blue;
    margin-bottom: 2vh;
    overflow: hidden;
}

.stor .image-container {
    width: 100%;
    height: 44vh;
    object-fit: cover;
}

.middle-halvt {
    display: flex;
    object-fit: cover;
    padding-top: 10px;
    max-height: 185px;
}

.middle-halvt img {
    padding-right: 10px;
    width: 50%;
    object-fit: cover;
}

.readmore {
    background-color: var(--primary-color);
    color: white;
    font-family: var(--font);
    font-size: 0.8rem;
    text-transform: uppercase;
    font-weight: 800; 
    margin-top: 10px;
    padding: 10px;
    border-radius: 0.5rem;
    border: none;
}

.fillimage {
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 44vh;
}

.fillimage img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.artikel-tre {
    display: flex;
    flex-direction: column;
}

.artikel-tre img {
    height: 200px;
}

.senestenyt {
    width: 100%;
    border: 1px solid red;
    overflow: hidden;
}

.gallery {
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.gallery figure {
    max-width: 24%;
}

.gallery figure img {
    width: 100%;
    object-fit: cover;
    height: 40%;
}

.senestenyt h2 {
    text-align: center;
    font-family: var(--font);
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: 800; 
}

.popular {
    list-style-type: none
}

.popular li {
    font-family: var(--font);
    font-size: 1rem;
    font-weight: 300; 
    padding-bottom: 10px;
}

.film-pakker-boks {
    display: flex;
    justify-content: space-between;
    height: 42vh;
}

.scroll {
    overflow-y: auto;
}

.filmpakke {
    width: 100%;
    display: flex;
}

.h4 {
    position: absolute;
    border-radius: 0.5rem;
    font-size: 1.5vh;
    margin-bottom: 15px;
}

figure.gallery {
    margin: 5px;
    float: left;
    transition: 0.2s;
  }
  
  figure.gallery:hover {
    scale: 1.1;
  }
  
  figure.gallery img {
    width: 100%;
    object-fit: cover;
  }
  
  figure.desc {
    padding: 15px;
    text-align: center;
  }

  figure.gallery article {
    display: flex;
    position: absolute;
    max-width: 100%;
    max-height: 100%;
    justify-content: center;
  }

  figure.gallery article h4 {
    color: white;
  }